<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8" />
</head>

<body>
    <nav-bar :is-show-about.sync="isShowAbout" :is-show-setting.sync="isShowSetting"></nav-bar>
    <addon-list></addon-list>
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <button class="btn btn-lg btn-success">Update</button>
                </div>
            </div>
        </footer>
    </div>
    <modal-about :show.sync="isShowAbout"></modal-about>
    <modal-setting :show.sync="isShowSetting"></modal-setting>
</body>

</html>
