<html>

<head>
    <title>
        {{ $t('Label.PluginBox') }}
    </title>
    <meta charset="utf-8" />
</head>

<body>
    <nav-bar :query.sync="query" :is-show-about.sync="isShowAbout" :is-show-setting.sync="isShowSetting"></nav-bar>
    <div class="container-fluid" style="margin-top: 105px; width: 95%;">
        <div class="row">
            <addon-list :data.sync="addons"></addon-list>
        </div>
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-10">
                <button :disabled="!isReadyToUpdate" class="btn btn-lg btn-success">{{ $t('Button.Update') }}</button>
            </div>
        </div>
    </footer>
    <modal-about :show.sync="isShowAbout"></modal-about>
    <modal-setting
        :show.sync="isShowSetting"
        :worker-count.sync="workerCount"
        :auto-update.sync="autoUpdate"
        :wow-path.sync="wowPath"
        >
    </modal-setting>
</body>

</html>

