<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8" />
</head>

<body>
    <nav class="navbar navbar-inverse titlebar">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">PluginBox</div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" v-model="filterKey">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" @click="isShowAbout = !isShowAbout">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" @click="isShowSetting = !isShowSetting">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <addon-list></addon-list>
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <button class="btn btn-lg btn-success">Update</button>
                </div>
            </div>
        </footer>
    </div>
    <modal-about :show.sync="isShowAbout"></modal-about>
    <modal-setting :show.sync="isShowSetting"></modal-setting>
</body>

</html>
