<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./style/bootstrap.css" media="screen">
    <link rel="stylesheet" href="./style/animate.css" media="screen">
  </head>
  <body>
    <app></app>
  </body>
</html>

