@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/paper/variables.less";
@import "~bootswatch/paper/bootswatch.less";

@navbar-border-radius: 0px;
@navbar-margin-bottom: 0px;
@navbar-padding-top: @line-height-computed;

@font-family-sans-serif:  "PingFang SC", "LiHei Pro", "Arial Narrow Bold", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-serif;

