@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/paper/variables.less";
@import "~bootswatch/paper/bootswatch.less";

@navbar-border-radius: 0px;
@navbar-margin-bottom: 0px;
@navbar-padding-top: @line-height-computed;

@font-family-sans-serif:  "LiHei Pro", "Arial Narrow Bold", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

body {
    margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 80px;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding-top: 21px;
}

.centered { text-align: center; }

.fixed-table {
    height: 400px;
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 550px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}
